body {
  margin-top: 800px;
}
.form-group {
  padding-left: 35px;
  padding-right: 30px;
}
.reg-header{
  margin-top: 3rem;
  font-size: 3rem;
  padding-bottom: 1.75rem;
  padding-left: 1.75rem;
}
.reg-jumbo {
  margin-top: 300px;
}
.reg-submit {
  margin-bottom: 30px;
  margin-top: 30px;
  background-color: #e6b800;
  border-style: groove;
}
.validation-error {
  background-color: #B42304;
  color: white;
  padding-left: 35px;
  padding-right: 30px;
}

#btn-div {
  padding-left: 35px;
  padding-right: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
}
